@page
@model ServiceHost.Pages.Account.SignUpModel
@{
    ViewData["Title"] = "ثبت نام";
    if (Model.Message != null)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Message',
                text: 'مدیریت کاربران',
                confirmButtonText: 'باشه',
            })
        </script>
    }
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                @{
                    if (ModelState.ErrorCount > 0)
                    {
                        <div class="alert alert-danger">
                            <div asp-validation-summary="ModelOnly"></div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        <img src="~/AdminTheme/assets/img/account.png" height="400px" width="400px" style="margin-top:20px;margin-right:50px;">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">خوش‌آمدید!</h1>
                            </div>
                            <form method="post" class="user">
                                <div class="form-group">
                                    <input asp-for="Command.UserName" type="text" class="form-control form-control-user" placeholder="نام کاربری">
                                    <span asp-validation-for="Command.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Command.Email" type="email" class="form-control form-control-user" placeholder="ایمیل">
                                    <span asp-validation-for="Command.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Command.Password" type="password" class="form-control form-control-user" placeholder="کلمه عبور">
                                    <span asp-validation-for="Command.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Command.RePassword" type="password" class="form-control form-control-user" placeholder="تکرار کلمه عبور">
                                    <span asp-validation-for="Command.RePassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">ثبت نام</button>
                            </form>
                            <hr />
                            <a asp-page="/Index" class="btn btn-info btn-user btn-block">
                                بازگشت
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}