@page
@model ServiceHost.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "پنل مدیریت";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">داشبورد</h1>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <span>نام کاربری و کلمه عبور ادمین</span>
        <br />
        <span>نام کاربری: OwnerSite</span>
        <br />
        <span>کلمه عبور: OwnerSite007</span>
    </div>
</div>